/* Global styling */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #222B31;
  color: #F3F3F3;
  font-family: -apple-system, BlinkMacSystemFont, 'avenir next', avenir, 
                helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui',
                arial, sans-serif;
}
